.details{
    display: flex;
    flex-direction: row;
    margin: 6% 0% 0% 20%;
    position: absolute;
    font-size: 1.4rem;
}
.details-item{
    position: relative;
    margin: 0% -1000% 0% 20%;
}
.details img{
    position: relative;
    width: 300px;
}
.button-counter{
    position: absolute;
    border-radius: 50%;
    border-color: rgb(121, 99, 99);
    background-color: gray;
    color: white;
    font-size: 18px;
    width: 30px;
    height: 30px;
}
.button-addcart{
    position: relative;
    margin: 10% 0% 0% 5%;
    width: 200px;
    height: 40px;
}
.counter span{
    margin: 0% 15% 0% 25%;
}
