header{
    background-color: aquamarine;
    height: 100vw;
    width: 12rem;
    position: fixed;
}
nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 25%;
}
ul{
    display: flex;
    flex-direction: column;
    margin-top: 20%; 
}